<div class="container-fluid">
  <div class="card-columns">
    <div *ngFor="let influencer of _apiService.influencers2;">
                  <div class="card card-influencer">
                      <div class="header">
                          <h4 class="title">@{{ influencer.username }}</h4>
                      </div>
                      <div class="content">
                          <div class="media text-center">
                            <img class="" style="margin:0 auto;" [src]="influencer.profile_picture" alt="{{ influencer.full_name }}">
                          </div>
                          <div class="row content">
                              <p class="description">{{ influencer.bio }}</p>
                          </div>
                                <hr />
                          <div class="footer">
              	                <button class="btn btn-danger btn-fill" (click)="showDelete(influencer.id)"><i class="ti-trash"></i></button>
              									<div class="pull-right">
                                  <a [routerLink]="['/view/influencer', influencer.id]" style="text-right" class="btn btn-fill btn-info"><span class="btn-label">
                                                                <i class="ti-search"></i>Details</span></a>
              									</div>
                          </div>
                      </div>
                  </div>
          </div>
    </div>
</div>
