<div class="container-fluid">
<div class="row">
   <div class="col-md-3">
     <label for="term"></label>
     <input [(ngModel)]="term"
            (keyup)="searchInflu(term)"
     type="text" name="term" class="form-control" placeholder="Search Influencers in instagram">

     <hr>
   </div><div class="col-md-9"></div>
  </div>
  <div class="row" *ngIf="_instaService.influencers">
      <div class="col-lg-2 col-sm-8"
          *ngFor="let influencer of _instaService.influencers">
      <div class="card card-influencer-search text-center">
        <div class="content">
            <img class="card-img-top" [src]="influencer.profile_picture" alt="{{ influencer.full_name }}">
        </div>
        <div class="content">
            <h4 class="title">@{{ influencer.username }}</h4>
        </div>
        <div class="content">
            <a [routerLink]="['/add/influencer', influencer.id]" class="btn btn-danger"><span class="btn-label">
                                     <i class="ti-plus"></i> Add Influencer</span></a>
        </div>
      </div>
  </div>

   </div>
</div>
