<div class="container top30">
<div class="row">
   <div class="col-md-3">
     <label for="term">Search Influencers in instagram</label>
     <input [(ngModel)]="term"
            (keyup)="searchInflu(term)"
     type="text" name="term" class="form-control">

     <hr>
   </div>
   </div>
  <div class="row">
    <div class="card-columns" *ngIf="_instaService.influencers">
    <div class="card" style="width: 20rem;"
                                           *ngFor="let influencer of _instaService.influencers">
      <img class="card-img-top" [src]="influencer.profile_picture" alt="{{ influencer.full_name }}">
      <div class="card-block">
        <h4 class="card-title">{{ influencer.username }}</h4>
        <p class="card-text"></p>
        <a [routerLink]="['/add/influencer', influencer.id]" class="btn btn-primary">Add Influencer</a>
      </div>
    </div>
  </div>

   </div>
</div>
