/* You can add global styles to this file, and also import other style files */
.modal-backdrop.in {
    filter: alpha(opacity=0) !important;
    opacity: 0 !important;
}
.modal-backdrop {
  z-index: 1 !important;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.card .footer button{
  cursor:pointer;
}
.container-loader {
/*  position:absolute;*/
  z-index: 99000 !important;
  top: 35%;
  left: 40%;

}
.loader {
     border: 16px solid #b5cebb;
     border-top: 16px solid #b572ad;
     border-radius: 50%;
     width: 120px;
     height: 120px;
     animation: spin 2s linear infinite;
     margin: 30px auto;
 }

@keyframes spin {
   0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

button {
  cursor:pointer;
}
