/* You can add global styles to this file, and also import other style files */
.modal-backdrop.in {
    filter: alpha(opacity=0) !important;
    opacity: 0 !important;
}
.modal-backdrop {
  z-index: 1 !important;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.card .footer button{
  cursor:pointer;
}
