<div class="sidebar-wrapper">
      <div class="logo">
          <a href="" class="simple-text">
              <img src="assets/img/tbwa.png" />
          </a>
      </div>

      <ul class="nav flex-column">
          <li class="nav-item" [routerLinkActive]="['active']">
              <a [routerLink]="['/home']">
                  <i class="ti-panel"></i>
                  <p>Home</p>
              </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
              <a [routerLink]="['/influencers']">
                  <i class="ti-user"></i>
                  <p>Influencers</p>
              </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
              <a [routerLink]="['/search']">
                  <i class="ti-view-list-alt"></i>
                  <p>Search</p>
              </a>
          </li>
          <li class="nav-item">
              <a (click)="logout()">
                  <p style="cursor:pointer;">Logout</p>
              </a>
          </li>
      </ul>
</div>
