<div class="container influencer">

  <div class="row">
    <div class="col-md-5">
        <h2>{{ _apiService.influencer?.username }}</h2>
        <img [src]="_apiService.influencer?.profile_picture" alt="" class="rounded">
        <p>{{ _apiService.influencer?.bio }}</p>
    </div>
    <div class="col-md-7">
      <ul class="list-group">
        <li class="list-group-item"><b>Fullname:</b> {{ _apiService.influencer?.full_name }}</li>
        <li class="list-group-item"><b>website:</b> {{ _apiService.influencer?.website }}</li>
        <li class="list-group-item"><b>Is Bussines:</b> {{ _apiService.influencer?.is_business }}</li>
        <li class="list-group-item"><b>Posts:</b> {{ _apiService.influencer?.counts?.media }}</li>
        <li class="list-group-item"><b>Follows:</b> {{ _apiService.influencer?.counts?.follows }}</li>
        <li class="list-group-item"><b>Followeb By: </b>{{ _apiService.influencer?.counts?.followed_by }}</li>
      </ul>
    </div>
  </div>


</div>
