<div class="row">
  <div class="col-lg-4 col-md-5">
    <div class="card card-user">
      <div class="image"><img [src]="_apiService.influencer?.profile_picture"/></div>
        <div class="content">
          <div class="author">
            <img class="avatar border-white" [src]="_apiService.influencer?.profile_picture" alt="..."/>
            <h4 class="title">{{ _apiService.influencer?.full_name }}<br />
              <a href="#"><small>@{{ _apiService.influencer?.username }}</small></a>
            </h4>
          </div>
          <p class="description text-center">{{ _apiService.influencer?.bio }}  </p>
          <p class="text-center"><a href="{{ _apiService.influencer?.website }}">{{ _apiService.influencer?.website }}</a></p>
        </div>
        <hr>
        <div class="text-center">
          <div class="row">
            <div class="col-md-3 col-md-offset-1">
              <h5>{{ _apiService.influencer?.counts?.media | number }}<br /><small>Posts</small></h5>
            </div>
            <div class="col-md-4">
              <h5>{{ _apiService.influencer?.counts?.follows | number }}<br /><small>Follows</small></h5>
            </div>
            <div class="col-md-3">
              <h5>{{ _apiService.influencer?.counts?.followed_by | number }}<br /><small>Followeb By</small></h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="header">
          <h4 class="title">Lasts Posts</h4>
        </div>
        <div class="content">
          <ul class="list-unstyled team-members">
              <li *ngFor="let like of _apiService?.influencer?.posts | slice:0:20">
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="avatar2">
                            <img [src]="like.images.thumbnail.url" alt="Circle Image" class="img-circle img-responsive">
                      </div>
                    </div>
                    <div class="col-xs-8"> @{{ like.user?.username }}<br />
                      <span class="text-primary">{{ like.caption?.text }}</span>

                    </div>
                 </div>
                 <div class="row text-right content">
                   <span>{{ like.created_time * 1000 | date:'medium' }}</span>
                 </div>
              </li>
            </ul>
          </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-7">
              <div class="card">
                  <div class="header">
                        <h4 class="title">Edit Profile</h4>
                  </div>
                  <div class="content">
                        <pre>{{ _apiService?.influencer?.posts | json }}</pre>
                  </div>
              </div>
    </div>
</div>
<div class="row content">
          <button type="button" class="btn btn-wd btn-default btn-fill btn-move-left"  (click)="back();">
  	         <span class="btn-label"><i class="ti-angle-left"></i></span>Back
  	      </button>
</div>
<script type="text/javascript">
    alert();

</script>
